body {
background-image:url("congruent_outline.png")
}
h1{color: grey;
    text-align: center;
}
h2{color: grey;
    text-align: center;
	}
h4{color: grey;
    text-align: center;
}
ul:{color: grey;
    text-align: center;
}